# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lst
Sustainia/target/classes/com/mycompany/sustainia/App$1.class
Sustainia/target/classes/com/mycompany/sustainia/App$2.class
Sustainia/target/classes/com/mycompany/sustainia/App$3.class
Sustainia/target/classes/com/mycompany/sustainia/App$4.class
Sustainia/target/classes/com/mycompany/sustainia/App.class
Sustainia/target/classes/com/mycompany/sustainia/Door.class
Sustainia/target/classes/com/mycompany/sustainia/Game.class
Sustainia/target/classes/com/mycompany/sustainia/HitBox.class
Sustainia/target/classes/com/mycompany/sustainia/Inventory.class
Sustainia/target/classes/com/mycompany/sustainia/Item.class
Sustainia/target/classes/com/mycompany/sustainia/Material.class
Sustainia/target/classes/com/mycompany/sustainia/NPC.class
Sustainia/target/classes/com/mycompany/sustainia/Parameter.class
Sustainia/target/classes/com/mycompany/sustainia/ParameterPanel.class
Sustainia/target/classes/com/mycompany/sustainia/Room.class
Sustainia/target/classes/com/mycompany/sustainia/Sustainia.class
Sustainia/target/classes/com/mycompany/sustainia/SystemInfo.class
Sustainia/target/classes/com/mycompany/sustainia/World.class
Sustainia/target/classes/module-info.class
Sustainia/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Sustainia/target/classes/com/mycompany/sustainia/App$1.class
Sustainia/target/classes/com/mycompany/sustainia/App$2.class
Sustainia/target/classes/com/mycompany/sustainia/App$3.class
Sustainia/target/classes/com/mycompany/sustainia/App$4.class
Sustainia/target/classes/com/mycompany/sustainia/App.class
Sustainia/target/classes/com/mycompany/sustainia/Door.class
Sustainia/target/classes/com/mycompany/sustainia/Game.class
Sustainia/target/classes/com/mycompany/sustainia/HitBox.class
Sustainia/target/classes/com/mycompany/sustainia/Inventory.class
Sustainia/target/classes/com/mycompany/sustainia/Item.class
Sustainia/target/classes/com/mycompany/sustainia/Material.class
Sustainia/target/classes/com/mycompany/sustainia/NPC.class
Sustainia/target/classes/com/mycompany/sustainia/Parameter.class
Sustainia/target/classes/com/mycompany/sustainia/ParameterPanel.class
Sustainia/target/classes/com/mycompany/sustainia/Room.class
Sustainia/target/classes/com/mycompany/sustainia/Sustainia.class
Sustainia/target/classes/com/mycompany/sustainia/SystemInfo.class
Sustainia/target/classes/com/mycompany/sustainia/World.class
Sustainia/target/classes/module-info.class
Sustainia/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Sustainia/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Sustainia/target/classes/com/mycompany/sustainia/App$1.class
Sustainia/target/classes/com/mycompany/sustainia/App$2.class
Sustainia/target/classes/com/mycompany/sustainia/App$3.class
Sustainia/target/classes/com/mycompany/sustainia/App$4.class
Sustainia/target/classes/com/mycompany/sustainia/App.class
Sustainia/target/classes/com/mycompany/sustainia/Door.class
Sustainia/target/classes/com/mycompany/sustainia/Game.class
Sustainia/target/classes/com/mycompany/sustainia/HitBox.class
Sustainia/target/classes/com/mycompany/sustainia/Inventory.class
Sustainia/target/classes/com/mycompany/sustainia/Item.class
Sustainia/target/classes/com/mycompany/sustainia/Material.class
Sustainia/target/classes/com/mycompany/sustainia/NPC.class
Sustainia/target/classes/com/mycompany/sustainia/Parameter.class
Sustainia/target/classes/com/mycompany/sustainia/ParameterPanel.class
Sustainia/target/classes/com/mycompany/sustainia/Room.class
Sustainia/target/classes/com/mycompany/sustainia/Sustainia.class
Sustainia/target/classes/com/mycompany/sustainia/SystemInfo.class
Sustainia/target/classes/com/mycompany/sustainia/World.class
Sustainia/target/classes/module-info.class
Sustainia/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Sustainia/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
